
@{
    ViewBag.Title = "ConhecaSite";
    Layout = null;
}

<head>

    <link rel="stylesheet" type="text/css" href="~/Content/css/ConhecaSite/conhecasite.css" />
    <link href="//amaxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="ca">
        <div class="container">

            <a href="#" class="btn"><i class=""></i>Conheça a Lux</a>

            <a href="#" class="btn"><i class=""></i>Vá para o site</a>

        </div>
    </div>
</body>