
@{
    ViewBag.Title = "Index";
}


<div class="card">
    <div class="card-header">
        <h4>Cada estilo de viagem (e também de viajante) pede por um tipo de hospedagem diferente</h4>
        <span>Conheça nossas melhores opções:</span>
        <div class="card-header-right">
            <i class="icofont icofont-spinner-alt-5"></i>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-sm-12">
                <div class="grid">
                    <figure class="effect-julia">
                        <img src="~/Content/melhoresHoteis/melhores-hoteis-centro-cancun.jpg" alt="img21" class="img-fluid" />
                        <figcaption>
                            <h2>Dallas<span></span></h2>
                            <div>
                                <p>Um ótimo lugar para ir em casal, família e amigos!</p>
                                <p>
                                    Tem o conforto que você preocura, piscinas termais, quartos com vistar diretas para praia, academia, playground, recriadores que
                                    fazem diversas brincadeiras tanto nas piscinas como nos campos. No hotel também tem campos de futebol, vôlei, golf,
                                    tênis, futebol de sabão, café com vista direta para praia, noites temáticas, shows todas as noites, gincanas.
                                </p>
                            </div>
                            
                        </figcaption>
                    </figure>
                    <figure class="effect-julia">
                        <img src="~/Content/melhoresHoteis/melhores-hoteis-na-tailandia-premiados-code.jpg" alt="img21" class="img-fluid" />
                        <figcaption>
                            <h2>Romance<span></span></h2>
                            <div>
                                <p>Um ótimo lugar para levar seu amor verdadeiro!</p>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="effect-julia">
                        <img src="~/Content/melhoresHoteis/shangri-la-hotel-tailandia-hoteis-kangaroo-tours (8).jpg" alt="img21" class="img-fluid" />
                        <figcaption>
                            <h2>Bela Vista</h2>
                            <div>
                                <p>Um lugar lindo para familia e amigos!    </p>
                                <p>
                                    Águas quentes e naturais, restaurante com todas as refeições diárias, wifi, campos de futebol, futebol de sabão e vôlei,
                                    vista para um lindo campo de flores e a praia.
                                </p>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="effect-julia">
                        <img src="~/Content/MelhoresHoteis/solucoes-em-fornecimento-de-gas-lp-para-hoteis-e-pousadas.jpg" alt="img21" class="img-fluid" />
                        <figcaption>
                            <h2>Catarinense</h2>
                            <div>
                                <p>
                                    O hotel oferece wifi, estacionamento exclusivo, restaurante, recriadores, gincanas, piscinas naturais, playground,
                                    shows em todas as noites, bar molhado, tobogã, todas as refeições diárias
                                </p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>




</div>