
@{
    ViewBag.Title = "Index";
}

<h2>Alguns dos Nossos Melhores Hoteis</h2>

<div class="card">
    <div class="card-header">
        <h5></h5>
        <span>Veja os melhores hoteis que indicamos para você!</span>
        <div class="card-header-right">
            <i class="icofont icofont-spinner-alt-5"></i>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-sm-12">
                <div class="grid">
                    <figure class="effect-julia">
                        <img src="~/Content/melhoresHoteis/melhores-hoteis-centro-cancun.jpg" alt="img21" class="img-fluid" />
                        <figcaption>
                            <h2>Dallas<span></span></h2>
                            <div>
                                    <p>Um ótimo lugar para ir em casal, família e amigos!</p>
                                    <p>Tem o conforto que você preocura, piscinas termais, quartos com vistar diretas para praia, academia, playground, recriadores</p>
                                    <p> fazem diversas brincadeiras tanto nas piscinas como nos campos, no hotel também tem campos de futebol, vôlei, golf,</p>
                                    <p> tênis, futebol de sabão, </p>
                            </div>
                            <a href="#">Ver mais</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>




</div>