
@{
    ViewBag.Title = "Index";
}

<h2>Alguns dos Nossos Melhores Hoteis</h2>

<div class="card">
    <div class="card-header">
        <h5></h5>
        <span>Veja os melhores hoteis que indicamos para você!</span>
        <div class="card-header-right">
            <i class="icofont icofont-spinner-alt-5"></i>
        </div>
    </div>
</div>