
@{
    ViewBag.Title = "Index";

}

<div class="pcoded-inner-content">

    <div class="card">
        <div class="card-header">
            <h4>Cada estilo de viagem (e também de viajante) pede por um tipo de hospedagem diferente</h4>
            <span>Conheça nossas melhores opções:</span>
            <div class="card-header-right">
                <i class="icofont icofont-spinner-alt-5"></i>
            </div>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-sm-12">
                    <div class="grid">
                        <figure class="effect-jazz">
                            <img src="~/Content/melhoresHoteis/dallas.jpg" alt="img21" class="img-fluid" />
                            <figcaption>
                                <h2>Dallas<span></span></h2>
                                <div>
                                    <p>Preparado para ter férias com muita diversão?</p>
                                </div>
                            </figcaption>
                        </figure>
                        <figure class="effect-jazz">
                            <img src="~/Content/melhoresHoteis/images-7.jpg" alt="img21" class="img-fluid" />
                            <figcaption>
                                <h2>Romance<span></span></h2>
                                <div>
                                    <p>Um ótimo lugar para ir com o seu amor!!</p>
                                </div>
                            </figcaption>
                        </figure>
                        <figure class="effect-jazz">
                            <img src="~/Content/melhoresHoteis/solucoes-em-fornecimento-de-gas-lp-para-hoteis-e-pousadas.jpg" alt="img21" class="img-fluid" />
                            <figcaption>
                                <h2>La massion</h2>
                                <div>
                                    <p>Um lugar para ir com a família!!</p>
                                    <p>O local oferece piscinas divertidas, recriadores, vista para uma pequena ilha e montanhas, todas as refeições diárias, campos de futebol,</p>
                                    <p>vôlei, futebol de sabão, sala de jogos, paintball, passeio de barco, noite de festa do pijama com as crianças, gincanas.</p>
                                </div>
                            </figcaption>
                        </figure>
                        <figure class="effect-jazz">
                            <img src="~/Content/melhoresHoteis/noite03.jpg" alt="img21" class="img-fluid" />
                            <figcaption>
                                <h2>Amon<span></span></h2>
                                <div>
                                    <p>Quer relaxar e aproveitar a sua folga?</p>
                                </div>
                            </figcaption>
                        </figure>
                        <figure class="effect-jazz">
                            <img src="~/Content/melhoresHoteis/Oi.jpg" alt="img21" class="img-fluid" />
                            <figcaption>
                                <h2>Porto Belo</h2>
                                <div>
                                    <p>Preocura tranquilidade?</p>
                                    <p>
                                        O hotel oferece massagens, todas as refeições diárias, piscinas, hidromassagem, pra quem gosta todas as noites tem shows acústicos, quartos com vista para as montanhas mais belas de
                                        Santa Catarina, os fim de tarde um lindo passeio de barco.
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                        <figure class="effect-jazz">
                            <img src="~/Content/melhoresHoteis/shangri-la-hotel-tailandia-hoteis-kangaroo-tours (8).jpg" alt="img21" class="img-fluid" />
                            <figcaption>
                                <h2>Bela Vista</h2>
                                <div>
                                    <p>Preparado para dias de férias com os amigos?</p>
                                    <p></p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
