
@{
    ViewBag.Title = "Index";
}


<div class="card">
    <div class="card-header">
        <h4>Cada estilo de viagem (e também de viajante) pede por um tipo de hospedagem diferente</h4>
        <span>Conheça nossas melhores opções:</span>
        <div class="card-header-right">
            <i class="icofont icofont-spinner-alt-5"></i>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-sm-12">
                <div class="grid">
                    <figure class="effect-julia">
                        <img src="~/Content/melhoresHoteis/melhores-hoteis-centro-cancun.jpg" alt="img21" class="img-fluid" />
                        <figcaption>
                            <h2>Dallas<span></span></h2>
                            <div>
                                    <p>Um ótimo lugar para ir em casal, família e amigos!</p>
                                    <p>Tem o conforto que você preocura, piscinas termais, quartos com vistar diretas para praia, academia, playground, recriadores que</p>
                                    <p> fazem diversas brincadeiras tanto nas piscinas como nos campos. No hotel também tem campos de futebol, vôlei, golf,</p>
                                    <p> tênis, futebol de sabão, café com vista direta para praia, noites temáticas, shows todas as noites, gincanas.</p>
                            </div>
                            <a href="#">Ver mais</a>
                        </figcaption>
                    </figure>
                    <figure class="effect-julia">
                        <img src="~/Content/melhoresHoteis/melhores-hoteis-na-tailandia-premiados-code.jpg" alt="img21" class="img-fluid" />
                        <figcaption>
                            <h2>Romance<span></span></h2>
                            <div>
                                <p></p>
                            </div>
                        </figcaption>
                    </figure>
                    <figure class="effect-julia">
                        <img src="~/Content/melhoresHoteis/shangri-la-hotel-tailandia-hoteis-kangaroo-tours (8).jpg" alt="img21" class="img-fluid" />
                        <figcaption>
                            <h2>Bela Vista</h2>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>




</div>