
@{
    ViewBag.Title = "Index";
}

<head>
    <style>


        .row {
            margin-left: 10px;
        }

        .card-block{
            height: 100px;
        }
    </style>
</head>


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4>Sua viagem começa aqui!</h4>
                <span>Da escolha de destinos a reservas de hotéis</span>
                <div class="card-header-right">
                </div>
            </div>


            <div class="card-block">
                <p>
                    O site LUX nasceu com a união de sonhos e desejos de um grupo de
                    cinco amigos, que amam viajar e planejar novos destinos! Nossa proposta
                    é oferecer dicas de novas experiências e aventuras, com a segurança, qualidade
                    de repouso e descanso no melhor hotel. Aqui publicamos sugestões diariamente
                    e é possível filtrar de acordo com suas prioridades e necessidades.
                    Preparado para escolher o melhor hotel e o melhor destino?
                    Espero que goste! Estique as pernas e aproveite sua viagem!
                </p>
            </div>

        </div>
    </div>
</div>
<div class="row simple-cards user-card">
    <div class="col-md-12 col-xl-4">
        <div class="card user-card" style="height: 650px;">
            <div class="card-header-img">
                <img class="img-fluid img-radius" src="~/Content/imagem/Administradores/Angel admin.jpg" alt="card-img" />
                <h4>Angel Gabriel Costa</h4>
                <h5>angel.gabriel.costa31@gmail.com</h5>
                <h6>(47) 9.9151-0533 </h6>
            </div>
            <p>
                "Gosto de viajar, encontrar novos desafios e poder relaxar. Imagino que todos devam saber a sensação de viajar."
                
            </p>
        </div>
    </div>
    <div class="col-md-12 col-xl-4">
        <div class="card user-card" style="height: 650px;">
            <div class="card-header-img">
                <img class="img-fluid img-radius" src="~/Content/imagem/Administradores/Loene admin.jpg" alt="card-img" />
                <h4>Loene da Silva Oliveira</h4>
                <h5>loenedasilvaoliveira@gmail.com</h5>
                <h6>(47) 9.9711-7044</h6>
            </div>
            <p>
                "Adoro desafios e aventuras, amo viajar e tirar fotos.  Um dos meus maiores
                sonhos é conhecer o máximo de lugares possíveis, pessoas e culturas que eu
                puder. Tudo isso para agregar em minha carreira e o desenvolvimento da minha vida pessoal."
            </p>
        </div>
    </div>
    <div class="col-md-12 col-xl-4">
        <div class="card user-card" style="height: 650px;">
            <div class="card-header-img">
                <img class="img-fluid img-radius" src="~/Content/imagem/Administradores/Naiara.adm.png" alt="card-img" />
                <h4>Naiara May</h4>
                <h5>naiaramay@outlook.com</h5>
                <h6>(47) 9.9225-1542</h6>
            </div>
            <p>
                "Transito entre todos os sonhos que tenho,
                todo amor que sinto e o mundo de fadas que desejo. Mesmo assim, permaneço com os pés no chão
                para realizar meus projetos. Amo trabalhar e conhecer pessoas novas. Amo falar sobre tudo e nas horas vagas
                falar sobre o nada, só pela oportunidade de começar qualquer coisa com a pretensão de coisa nenhuma."
            </p>
        </div>

    </div>

</div>

<div class="row simple-cards user-card">
    <div class="col-md-12 col-xl-4">
        <div class="card user-card" style="height: 650px;">
            <div class="card-header-img">
                <img class="img-fluid img-radius" src="~/Content/imagem/Administradores/Nicollas.jpg" alt="card-img" />
                <h4>Nícollas Richard Lee</h4>
                <h5>nicollasleeribeiro@gmail.com</h5>
                <h6>(47) 9.9907-1794</h6>
            </div>
            <p>
                "Desde pequeno sou apaixonado por informatica e então continuo seguindo por esse ramo.
                Sou escritor por hobby, com uma imaginação fértil.
                Sou apaixonado pela natureza, amo fotografar paisagens e fazer trilhas.
                Amo ir para lugares altos e silenciosos, acompanhado por uma xícara de café para apreciar o silencio e as paisagens de tirar o folego."
            </p>
        </div>
    </div>
    <div class="col-md-12 col-xl-4">
        <div class="card user-card" style="height: 650px;">
            <div class="card-header-img">
                <img class="img-fluid img-radius" src="~/Content/imagem/Administradores/Paulo Admin.jpg" alt="card-img" />
                <h4>Paulo Henrique Camargo</h4>
                <h5>camargopaulohenrique2@gmail.com</h5>
                <h6>(47) 9.9237-3778</h6>
            </div>
            <p>
                "Gosto de programação desde quando comecei a aprender sobre ,
                sou muito esforçado com as coisas que eu faço ,  muito competitivo e tenho a intenção de ser
                o meu melhor. Sempre penso em todo o grupo, antes de pensar em mim."
            </p>
        </div>
    </div>
</div>




