
@{
    ViewBag.Title = "Index";
}

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>Sua viagem começa aqui!</h4>
                    <span>Da escolha de destinos a reservas de hotéis</span>
                    <div class="card-header-right">
                    </div>
                </div>
                <div class="card-block">
                    <p>
                        O site LUX nasceu com a união de sonhos e desejos de um grupo de
                        cinco amigos, que amam viajar e planejar novos destinos! Nossa proposta
                        é oferecer dicas de novas experiências e aventuras, com a segurança, qualidade
                        de repouso e descanso no melhor hotel. Aqui publicamos sugestões diariamente
                        e é possível filtrar de acordo com suas prioridades e necessidades. Pense em
                        tudo o que for importante para você e coloque no papel.
                        Preparado para escolher o melhor hotel e o melhor destino?
                        Espero que goste! Estique as pernas e aproveite sua viagem!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>Um pouco de nós</h4>
                    <span>Conheça a equipe responsável pela Lux</span>
                    <div class="card-header-right">
                    </div>
                </div>
            </div>
        </div>
    </div>
