
@{
    ViewBag.Title = "Index";
}

<head>
    <style>

        .row {
            margin-left: 10px;
        }

    </style>
</head>

<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>Sua viagem começa aqui!</h4>
                    <span>Da escolha de destinos a reservas de hotéis</span>
                    <div class="card-header-right">
                    </div>
                </div>
                <div class="card-block">
                    <p>
                        O site LUX nasceu com a união de sonhos e desejos de um grupo de
                        cinco amigos, que amam viajar e planejar novos destinos! Nossa proposta
                        é oferecer dicas de novas experiências e aventuras, com a segurança, qualidade
                        de repouso e descanso no melhor hotel. Aqui publicamos sugestões diariamente
                        e é possível filtrar de acordo com suas prioridades e necessidades.
                        Preparado para escolher o melhor hotel e o melhor destino?
                        Espero que goste! Estique as pernas e aproveite sua viagem!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card body">
                <div class="card-header">
                    <h4>Um pouco de nós</h4>
                    <span>Conheça a equipe responsável pela Lux</span>
                    <div class="card-header-right">
                    </div>
                </div>
                <div class="testimonials">
                    <div class="header-carousel">
                        <p class="big">Ajudando pessoas a explorarem os melhores destinos!</p>
                    </div>
                    <div class="testimonials-carousel carousel">
                        <div class="holder">
                            <i class="prev icon-arrow-circle-left hidden"></i>
                            <i class="next icon-arrow-circle-right"></i>

                            <div class="row">
                                <div class="card body">
                                    <div class="col-6">
                                        <div class="photo-wrapper">
                                            <img class="lazy-loaded" data-src="https://cdnstatic1.eskypartners.com/about-us/br_01.jpg" alt="Ana Paula Figueiredo" src="https://cdnstatic1.eskypartners.com/about-us/br_01.jpg">
                                        </div>
                                        <p class="title">Ana Paula Figueiredo</p>
                                        <p class="from">São Paulo, SP</p>
                                        <p class="desc">"Foi incrível! Meus amigos e eu tivemos a oportunidade!"</p>
                                    </div>
                                </div>

                                <div class="card body">
                                    <div class="col-6">
                                        <div class="photo-wrapper">
                                            <img class="lazy-loaded" data-src="https://cdnstatic1.eskypartners.com/about-us/br_02.jpg" alt="Cassiano Ricetti" src="https://cdnstatic1.eskypartners.com/about-us/br_02.jpg">
                                        </div>
                                        <p class="title">Cassiano Ricetti</p>
                                        <p class="from">Juiz de Fora, MG</p>
                                        <p class="desc">"O tempo que passei em Florianópolis (SC) foi mágico, que praias lindas!"</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>