
@{
    ViewBag.Title = "Index";
}

<head>
    <style>
    </style>
</head>


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4>Sua viagem começa aqui!</h4>
                <span>Da escolha de destinos a reservas de hotéis</span>
                <div class="card-header-right">
                </div>
            </div>


            <div class="card-block">
                <p>
                    O site LUX nasceu com a união de sonhos e desejos de um grupo de
                    cinco amigos, que amam viajar e planejar novos destinos! Nossa proposta
                    é oferecer dicas de novas experiências e aventuras, com a segurança, qualidade
                    de repouso e descanso no melhor hotel. Aqui publicamos sugestões diariamente
                    e é possível filtrar de acordo com suas prioridades e necessidades.
                    Preparado para escolher o melhor hotel e o melhor destino?
                    Espero que goste! Estique as pernas e aproveite sua viagem!
                </p>
            </div>

        </div>
    </div>
</div>

<div class="page-body">
    <!-- round card start -->
    <div class="row users-card">

        <!-- card -->
        <div class="col-lg-6 col-xl-3 col-md-6">
            <div class="card rounded-card user-card">
                <div class="card-block">
                    <div class="img-hover">
                        <img class="img-fluid img-radius" src="~/Content/imagem/Administradores/Angel.jpg" alt="round-img">

                    </div>
                    <div class="user-content">
                        <h4 class="">Angel Gabriel Costa</h4>
                        <p>angel.gabriel.costa31@gmail.com</p>
                        <p>(47) 9.9151-0533</p>
                        <p class="m-b-0 text-muted">
                            "Gosto de viajar, encontrar novos desafios e poder relaxar. Imagino que todos devam saber a sensação de viajar."
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- card -->
        <div class="col-lg-6 col-xl-3 col-md-6">
            <div class="card rounded-card user-card">
                <div class="card-block">
                    <div class="img-hover">
                        <img class="img-fluid img-radius" src="~/Content/imagem/Administradores/Loene..jpg" alt="round-img" />
                    </div>
                    <div class="user-content">
                        <h4 class="">Loene da Silva Oliveira</h4>
                        <p>loenedasilvaoliveira@gmail.com</p>
                        <p>(47) 9.9711-7044</p>
                        <p>
                            "Adoro desafios e aventuras, amo viajar e tirar fotos.
                            Um dos meus maiores sonhos é conhecer o máximo de lugares possíveis,
                            pessoas e culturas que eu puder. Tudo isso para agregar em minha carreira
                            e o desenvolvimento da minha vida pessoal."
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- card -->
        <div class="col-lg-6 col-xl-3 col-md-6">
            <div class="card rounded-card user-card">
                <div class="card-block">
                    <div class="img-hover">
                        <img class="img-fluid img-radius" src="~/Content/imagem/Administradores/Naiara (1).jpg" alt="round-img" />
                    </div>
                    <div class="user-content">
                        <h4 class="">Naiara May</h4>
                        <p>naiaramay@outlook.com</p>
                        <p>(47) 9.9225-1542</p>
                        <p>
                            "Desde pequeno sou apaixonado por informatica e então continuo seguindo por
                            esse ramo. Sou escritor por hobby, com uma imaginação fértil. Sou apaixonado pela
                            natureza, amo fotografar paisagens e fazer trilhas. Amo ir para lugares altos e
                            silenciosos, acompanhado por uma xícara de café para apreciar o silencio e as paisagens
                            de tirar o folego."
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- card -->
        <div class="col-lg-6 col-xl-3 col-md-6">
            <div class="card rounded-card user-card">
                <div class="card-block">
                    <div class="img-hover">
                        <img class="img-fluid img-radius" src="~/Content/imagem/Administradores/Nicollas.jpg" alt="round-img" />
                    </div>
                    <div class="user-content">
                        <h4 class="">Nícollas Richard Lee</h4>
                        <p>nicollasleeribeiro@gmail.com</p>
                        <p>(47) 9.9907-1794</p>
                        <p>
                            "Desde pequeno sou apaixonado por informatica e então continuo seguindo
                            por esse ramo. Sou escritor por hobby, com uma imaginação fértil. Sou apaixonado
                            pela natureza, amo fotografar paisagens e fazer trilhas. Amo ir para lugares altos
                            e silenciosos, acompanhado por uma xícara de café para apreciar o silencio e as
                            paisagens de tirar o folego."
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- card -->
        <div class="col-lg-6 col-xl-3 col-md-6">
            <div class="card rounded-card user-card">
                <div class="card-block">
                    <div class="img-hover">
                        <img class="img-fluid img-radius" src="~/Content/imagem/Administradores/Paulo.jpg" alt="round-img" />
                    </div>
                    <div class="user-content">
                        <h4 class="">Paulo Henrique Camargo</h4>
                        <p>
                            camargopaulohenrique2@gmail.com
                        </p>
                        <p>(47) 9.9237-3778</p>
                        <p>
                            "Gosto de programação desde quando comecei a aprender sobre , sou muito esforçado
                            com as coisas que eu faço , muito competitivo e tenho a intenção de ser o meu
                            melhor. Sempre penso em todo o grupo, antes de pensar em mim."
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


