
@{
    ViewBag.Title = "Index";
}

<head>
    <style>

        .row {
            margin-left: 10px;
        }
    </style>
</head>


<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4>Sua viagem começa aqui!</h4>
                <span>Da escolha de destinos a reservas de hotéis</span>
                <div class="card-header-right">
                </div>
            </div>
            <div class="card-block">
                <p>
                    O site LUX nasceu com a união de sonhos e desejos de um grupo de
                    cinco amigos, que amam viajar e planejar novos destinos! Nossa proposta
                    é oferecer dicas de novas experiências e aventuras, com a segurança, qualidade
                    de repouso e descanso no melhor hotel. Aqui publicamos sugestões diariamente
                    e é possível filtrar de acordo com suas prioridades e necessidades.
                    Preparado para escolher o melhor hotel e o melhor destino?
                    Espero que goste! Estique as pernas e aproveite sua viagem!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card body">
            <div class="card-header">
                <h4>Um pouco de nós</h4>
                <span>Conheça a equipe responsável pela Lux</span>
                <div class="card-header-right">
                </div>
            </div>
            <div class="row">
                <div class="card body">
                    <div class="col-12">
                        <div class="photo-wrapper">
                            <img class="lazy-loaded" src="https://cdnstatic1.eskypartners.com/about-us/br_01.jpg">
                        </div>
                        <p class="title">Angel Gabriel Costa</p>
                        <p class="from">Blumenau, SC</p>
                        <p class="desc">"Foi incrível! Meus amigos e eu tivemos a oportunidade!"</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card body">
                    <div class="col-12">
                        <div class="photo-wrapper">
                            <img class="lazy-loaded" src="https://cdnstatic1.eskypartners.com/about-us/br_02.jpg">
                        </div>
                        <p class="title">Loene da Silva Oliveira</p>
                        <p class="from">Belém, PA</p>
                        <p class="desc">"Adoro desafios e aventuras, amo viajar e tirar fotos, um dos meus maiores sonhos é
                        conhecer o máximo de lugares possíveis.   "</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card body">
                    <div class="col-12">
                        <div class="photo-wrapper">
                            <img class="lazy-loaded" src="https://cdnstatic1.eskypartners.com/about-us/br_01.jpg">
                        </div>
                        <p class="title">Naiara May</p>
                        <p class="from">Ituporanga, SC</p>
                        <p class="desc">
                            "Facilmente transito entre todos os sonhos que tenho,
                            todo amor que sinto e o mundo de fadas que desejo. Mesmo assim, permaneço com os pés no chão
                            para realizar meus projetos. Amo trabalhar e conhecer pessoas novas. Amo falar sobre tudo e nas horas vagas
                            falar sobre o nada, só pela oportunidade de começar qualquer coisa com a pretensão de coisa nenhuma."
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card body">
                    <div class="col-12">
                        <div class="photo-wrapper">
                            <img class="lazy-loaded" src="~/Content/imagem/Administradores/Nicollas.jpg">
                        </div>
                        <p class="title">Nicollas Richard Lee</p>
                        <p class="from">Taubaté, SP</p>
                        <p class="desc">"O tempo que passei em Florianópolis (SC) foi mágico, que praias lindas!"</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card body">
                    <div class="col-12">
                        <div class="photo-wrapper">
                            <img class="lazy-loaded" src="https://cdnstatic1.eskypartners.com/about-us/br_02.jpg">
                        </div>
                        <p class="title">Paulo Henrique Camargo</p>
                        <p class="from">Blumenau, SC</p>
                        <p class="desc">"O tempo que passei em Florianópolis (SC) foi mágico, que praias lindas!"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
