<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lux - Seu sonho, nosso compromisso.</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="keywords"
          content="flat ui, admin Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="~/Content/PraiaTop.png" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/bower_components/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/icon/icofont/css/icofont.css">
    <!-- flag icon framework css -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/pages/flag-icon/flag-icon.min.css">
    <!-- Menu-Search css -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/pages/menu-search/css/component.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/css/style.css">
    <script src="https://kit.fontawesome.com/6c46833db4.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/css/jquery.mCustomScrollbar.css">
    <!-- Menu-Search css -->
    
    <!-- hover-effect.css -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/pages/hover-effect/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/pages/hover-effect/set2.css">
    
    
</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header"
                 style="background-color: black;">
                <div class="navbar-wrapper">

                    <div class="navbar-logo"
                         style="background-color: black;">

                        <a class="mobile-search morphsearch-search" href="#">
                            <i class="ti-search"></i>
                        </a>
                        <a href="~/Views/Home/Index.cshtml">
                            <img class="img-fluid" src="~/Content/64.png" alt="Theme-Logo" />
                        </a>

                        <a class="mobile-options">
                            <i class="ti-more"></i>
                        </a>
                    </div>

                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle">
                                    <a href="javascript:void(0)"><i class="ti-menu"></i></a>
                                </div>
                            </li>


                        </ul>
                    </div>



                </div>

            </nav>

            <!-- Sidebar inner chat end-->
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar" style="background-image: linear-gradient(to bottom, #0ABFBC);">
                        <div class="sidebar_toggle" style="background-image: linear-gradient(to bottom,#0ABFBC);">
                            <a href="#"><i class="icon-close icons"></i></a>
                        </div>
                        <div class="pcoded-inner-navbar main-menu"
                             style="background-color: white">
                            <div class="">
                                <div class="main-menu-header"
                                     style="background-color: white;">
                                    <img class="img-40 img-radius" src="~/Content/FOTO ZIIKA DO USUARIO ZIKA.jpg"
                                         alt="User-Profile-Image">
                                    <div class="user-details">
                                        <span>Usuário</span>
                                        <span id="more-details"><i class="ti-angle-down"></i></span>
                                    </div>
                                </div>

                                <div class="main-menu-content">
                                    <ul>
                                        <li class="more-details">
                                            <a href="/Administrador/Perfil"><i class="far fa-user"></i>Ver Perfil</a>
                                            <a href="~/Views/Login/Index.cshtml">
                                                <i class="fas fa-door-open"></i>Sair
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <ul class="pcoded-item pcoded-left-item ">
                                <li class="pcoded-rhasmenu">
                                    <a href="/hotel">

                                        <span class="pcoded-mtext" data-i18n="nav.gallery.advance-gallery" style="color: black;">
                                            Hoteis
                                        </span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>

                            </ul>

                            <ul class="pcoded-item pcoded-left-item ">
                                <li class="pcoded-rhasmenu">
                                    <a href="/comodidade">

                                        <span class="pcoded-mtext" data-i18n="nav.gallery.advance-gallery" style="color: black;">
                                            Serviços adicionais
                                        </span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>

                            </ul>

                            <ul class="pcoded-item pcoded-left-item ">
                                <li class="pcoded-rhasmenu">
                                    <a href="/galeria">

                                        <span class="pcoded-mtext" data-i18n="nav.gallery.advance-gallery" style="color: black;">
                                            Sugestão de destino
                                        </span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>

                            </ul>

                            <ul class="pcoded-item pcoded-left-item ">
                                <li class="pcoded-rhasmenu">
                                    <a href="/cliente">

                                        <span class="pcoded-mtext" data-i18n="nav.gallery.advance-gallery" style="color: black;">
                                            Clientes
                                        </span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>

                            </ul>
                            <ul class="pcoded-item pcoded-left-item ">
                                <li class="pcoded-rhasmenu">
                                    <a href="/administrador">

                                        <span class="pcoded-mtext" data-i18n="nav.gallery.advance-gallery" style="color: black;">
                                            Administrador
                                        </span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>

                            </ul>


                        </div>
                    </nav>





                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">

                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-header start -->
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Required Jquery -->
        <script type="text/javascript" src="~/Content/tema/bower_components/jquery/js/jquery.min.js"></script>
        <script type="text/javascript" src="~/Content/tema/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="~/Content/tema/bower_components/popper.js/js/popper.min.js"></script>
        <script type="text/javascript" src="~/Content/tema/bower_components/bootstrap/js/bootstrap.min.js"></script>
        <!-- jquery slimscroll js -->
        <script type="text/javascript"
                src="~/Content/tema/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
        <!-- modernizr js -->
        <script type="text/javascript" src="~/Content/tema/bower_components/modernizr/js/modernizr.js"></script>
        <script type="text/javascript" src="~/Content/tema/bower_components/modernizr/js/css-scrollbars.js"></script>

        <!-- i18next.min.js -->
        <script type="text/javascript" src="~/Content/tema/bower_components/i18next/js/i18next.min.js"></script>
        <script type="text/javascript"
                src="~/Content/tema/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
        <script type="text/javascript"
                src="~/Content/tema/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
        <script type="text/javascript"
                src="~/Content/tema/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
        <script src="~/Content/tema/assets/js/pcoded.min.js"></script>
        <script src="~/Content/tema/assets/js/demo-12.js"></script>
        <script src="~/Content/tema/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <!-- Custom js -->
        <script type="text/javascript" src="~/Content/tema/assets/js/script.js"></script>

        <script type="text/javascript" src="../bower_components/jquery/js/jquery.min.js"></script>
        <script type="text/javascript" src="../bower_components/jquery-ui/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../bower_components/popper.js/js/popper.min.js"></script>
        <script type="text/javascript" src="../bower_components/bootstrap/js/bootstrap.min.js"></script>
        <!-- jquery slimscroll js -->
        <script type="text/javascript" src="../bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
        <!-- modernizr js -->
        <script type="text/javascript" src="../bower_components/modernizr/js/modernizr.js"></script>
        <script type="text/javascript" src="../bower_components/modernizr/js/css-scrollbars.js"></script>

        <!-- i18next.min.js -->
        <script type="text/javascript" src="../bower_components/i18next/js/i18next.min.js"></script>
        <script type="text/javascript" src="../bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
        <script type="text/javascript" src="../bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
        <script type="text/javascript" src="../bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
        <!-- Custom js -->

        <script src="assets/js/pcoded.min.js"></script>
        <script src="assets/js/demo-12.js"></script>
        <script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script type="text/javascript" src="assets/js/script.js"></script>

    </div>
   
</body>

</html>