
@{
    ViewBag.Title = "Cadastro";
}



<h2>Cadastro</h2>

<form action="@Url.Action("Index")" method="post">
    <div class="row">
        <div class="col-sm-12 col-xl-4 m-b-30">
            <h4 class="sub-title">Nome</h4>
            <input id="campo-nome" class="form-control" type="text" name="nome" placeholder="Digite seu nome completo" />
        </div>
        <div class="col-sm-12 col-xl-4 m-b-30">
            <div class="col-sm-12 col-xl-4 m-b-30">
                <h4 class="sub-title">CPF</h4>
                <input type="text" name="campo-cpf" id="campo-cpf" class="form-control telphone_whith_code" data-mask="99.999-999" placeholder="Digite o CPF" required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="col-sm-12 col-xl-4 m-b-30">
                <h4 class="sub-title">Login</h4>
                <input type="text" name="login"
                       class="form-control"
                       id="campo-login" />
            </div>
        </div>
        <div class="col-10">
            <div class="col-sm-12 col-xl-4 m-b-30">
                <h4 class="sub-title">Senha</h4>
                <input type="password"
                       class="form-control"
                       placeholder="Senha deve conter 6 caracteres"
                       name="senha"
                       autocomplete="off"
                       id="campo-senha" />
            </div>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-success float-right" type="submit">
            <i class="fas fa-save"></i> Salvar
        </button>
    </div>
</form>






