
@{
    ViewBag.Title = "Cadastro";
}



<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="fas fa-users-cog" style="background-color: #343a40;"></i>
                <div class="d-inline">
                    <h4>Cadastro de Administradores</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<form action="@Url.Action("Inserir")" method="post">

    <div class="card">
        <div class="card-body ">
            <div class="row">
                <div class="col-sm-12 col-xl-8 m-b-30">
                    <h4 class="sub-title">Nome</h4>
                    <input type="text" name="nome" id="campo-nome" class="form-control" placeholder="Digite o nome" maxlength="50" autocomplete="off" required />
                </div>
                <div class="col-sm-12 col-xl-4 m-b-30">
                    <h4 class="sub-title">CPF</h4>
                    <input type="text" name="cpf" id="campo-cpf" placeholder="Ex: 000.000.000-00" class="form-control"
                           data-mask="000.000.000-00"
                           maxlength="11"
                           autocomplete="off"
                           data-mask-selectonfocus="true" required />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xl-7 m-b-30">
                    <h4 class="sub-title">Login</h4>
                    <input class="form-control" type="text" name="login" id="campo-login" placeholder="Digite o login" autocomplete="off" required />
                </div>
                <div class="col-sm-12 col-xl-5 m-b-30">
                    <h4 class="sub-title">Senha</h4>
                    <input type="password"
                           class="form-control"
                           placeholder="Senha deve conter 6 caracteres"
                           name="senha"
                           maxlength="30"
                           autocomplete="off"
                           id="campo-senha" required />
                </div>
            </div>

            <button class="btn btn-outline-success float-right" type="submit">
                <i class="fas fa-save"></i> Salvar
            </button>
        </div>
    </div>
</form>






