
@{
    ViewBag.Title = "Cadastro";
}



<h2  class="mb-5">Cadastro</h2>

<form action="@Url.Action("Index")" method="post">
    <div class="row">
        <div class="col-sm-12 col-xl-4 m-b-30">
            <h4 class="sub-title">Nome</h4>
            <input type="text" name="nome" id="campo-nome" class="form-control" placeholder="Digite o nome" autocomplete="off" required />
        </div>
        <div class="col-sm-12 col-xl-4 m-b-30">
            <h4 class="sub-title">CPF</h4>
            <input type="text" name="cpf" id="campo-cpf" placeholder="Ex: 000.000.000-00" class="form-control"
                   data-mask="000.000.000-00"
                   maxlength="11"
                   autocomplete="off"
                   data-mask-selectonfocus="true" required />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xl-4 m-b-30">
            <h4 class="sub-title">Login</h4>
            <input  class="form-control" type="text" name="login" id="campo-login" placeholder="Digite o login" autocomplete="off" required />
        </div>
        <div class="col-sm-12 col-xl-4 m-b-30">
            <h4 class="sub-title">Senha</h4>
            <input type="password"
                   class="form-control"
                   placeholder="Senha deve conter 6 caracteres"
                   name="senha"
                   autocomplete="off"
                   id="campo-senha" required />
        </div>
    </div>

    <button class="btn btn-success float-right" type="submit">
        <i class="fas fa-save"></i> Salvar
    </button>
</form>






