
@{
    ViewBag.Title = "EditarPerfil";
}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <!--Made with love by Mutiullah Samim -->
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="styles.css">

    <h2 class="text-center">Editar Perfil</h2>



    <html>
    <head>
        <style>
            .personal-image {
                text-align: center;
            }

                .personal-image input[type="file"] {
                    display: none;
                }

            .personal-figure {
                position: relative;
                width: 120px;
                height: 120px;
            }

            .personal-avatar {
                cursor: pointer;
                width: inherit;
                height: inherit;
                box-sizing: border-box;
                border-radius: 100%;
                border: 2px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
                transition: all ease-in-out .3s;
            }

                .personal-avatar:hover {
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
                }

            .personal-figcaption {
                cursor: pointer;
                position: absolute;
                top: 0px;
                width: inherit;
                height: inherit;
                border-radius: 100%;
                opacity: 0;
                background-color: rgba(0, 0, 0, 0);
                transition: all ease-in-out .3s;
            }

                .personal-figcaption:hover {
                    opacity: 1;
                    background-color: rgba(0, 0, 0, .5);
                }

                .personal-figcaption > img {
                    margin-top: 32.5px;
                    width: 50px;
                    height: 50px;
                }
        </style>

        <form action="@Url.Action("EditarPerfil")" method="post">
            <div class="personal-image">
                <label class="label">
                    <input type="file" />
                    <figure class="personal-figure">
                        <img src="~/Content/FOTO ZIIKA DO USUARIO ZIKA.jpg" class="personal-avatar" alt="avatar">
                        <figcaption class="personal-figcaption">
                        </figcaption>
                    </figure>
                </label>

                <div class="row">
                    <div class="form-group col-4 offset-4">
                        <h4 class="sub-title">Usuário</h4>
                        <input type="text" class="form-control" id="Nome" name="Nome" placeholder="Usuario" value="" autocomplete="off" required>
                    </div>
                    <div class="form-group col-4 offset-4">
                        <h4 class="sub-title">E-mail</h4>
                        <input type="text" class="form-control" id="Email" name="Email" placeholder="Email" value="" autocomplete="off" required>
                    </div>
                    <div class="form-group col-4 offset-4">
                        <h4 class="sub-title">Nova senha</h4>
                        <input type="password"
                               class="form-control"
                               placeholder="Senha deve conter 6 caracteres"
                               name="senha"
                               autocomplete="off"
                               id="campo-senha" required />
                    </div>

                    <div class="form-group col-4 offset-4">
                        <h4 class="sub-title">Senha</h4>
                        <input type="password"
                               class="form-control"
                               placeholder="Senha deve conter 6 caracteres"
                               name="senha"
                               autocomplete="off"
                               id="campo-senha" required />
                    </div>
                </div>

                <a href="@Url.Action("perfil")" class="btn btn-outline-success">Salvar</a>

            </div>
        </form>
    </head>
</html>
</html>
