
@{
    ViewBag.Title = "Editar";
}

<h4 class="mb-5">Editar Administrador</h4>

<form action="@Url.Action("Editar")" method="post">
    <div class="row">
        <div class="col-sm-12 col-xl-4 m-b-30">
            <div class="form-group">
                <input type="hidden" id="campo-id" value="@ViewBag.Administrador.Id" />
                <h4 class="sub-title">Nome</h4>
                <input class="form-control" type="text" name="nome"
                       id="campo-nome" value="@ViewBag.Administrador.Nome"  maxlength="50" autocomplete="off" required/>
            </div>
        </div>
        <div class="col-sm-12 col-xl-4 m-b-30">
            <h4 class="sub-title">CPF</h4>S
            <input type="text" name="cpf"
                   class="form-control"
                   data-mask="000.000.000-00"
                   maxlength="14"
                   autocomplete="off"
                   id="campo-cpf" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xl-4 m-b-30">
            <h4 class="sub-title">Login</h4>
            <input type="text" name="login" id="campo-login" autocomplete="off" required/>
        </div>
        <div class="col-sm-12 col-xl-4 m-b-30">
            <h4 class="sub-title">Senha</h4>
            <input type="password"
                   class="form-control"
                   placeholder="Senha deve conter 6 caracteres"
                   name="senha"
                    maxlength="30"
                   autocomplete="off"
                   id="campo-senha" required />
        </div>
    </div>
    <button class="btn btn-success float-right" type="submit">
        <i class="fas fa-save"></i> Salvar
    </button>
</form>