@{
    ViewBag.Title = "Perfil";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>

<title>Login Page</title>
<!--Made with love by Mutiullah Samim -->
<!--Bootsrap 4 CDN-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!--Fontawesome CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!--Custom styles-->
<link rel="stylesheet" type="text/css" href="styles.css">

<h2 class="text-center">Perfil</h2>

<style>
    .personal-image {
        text-align: center;
    }

        .personal-image input[type="file"] {
            display: none;
        }

    .personal-figure {
        position: relative;
        width: 120px;
        height: 120px;
    }

    .personal-avatar {
        cursor: pointer;
        width: inherit;
        height: inherit;
        box-sizing: border-box;
        border-radius: 100%;
        border: 2px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
        transition: all ease-in-out .3s;
    }

        .personal-avatar:hover {
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
        }

    .personal-figcaption {
        cursor: pointer;
        position: absolute;
        top: 0px;
        width: inherit;
        height: inherit;
        border-radius: 100%;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0);
        transition: all ease-in-out .3s;
    }

        .personal-figcaption:hover {
            opacity: 1;
            background-color: rgba(0, 0, 0, .5);
        }

        .personal-figcaption > img {
            margin-top: 32.5px;
            width: 50px;
            height: 50px;
        }


</style>


<form action="javascript:void(0)" method="post">
    <div class="personal-image">
        <label class="label">
            <input type="file" />
            <figure class="personal-figure">
                <input type="hidden" name="MAX_FILE_SIZE" value="4194304" />
                <div class="img-overlay img-radius">
                    <span>
                        <a href="#" class="btn btn-sm btn-primary" data-popup="lightbox"><i class="icofont icofont-plus"></i></a>
                        <a href="" class="btn btn-sm btn-primary"><i class="icofont icofont-link-alt"></i></a>
                    </span>
                </div>
                <figcaption class="personal-figcaption">
                </figcaption>
            </figure>
        </label>

        <div class="form-group col-4 offset-4">
            <h4 class="sub-title">Usuário</h4>
            <input type="text" class="form-control" id="Nome" name="Nome" readonly="readonly" placeholder="Usuario" value="">
        </div>

        <div class="form-group col-4 offset-4">
            <h4 class="sub-title">E-mail</h4>
            <input type="text" class="form-control" id="Email" name="Email" readonly="readonly" placeholder="Email" value="">
        </div>
        <a href="@Url.Action("editarperfil")" class="btn btn-outline-primary">Editar</a>
    </div>
</form>

