
@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro de Hoteis</h2>

<form action="@Url.Action("Cadastro")" method="post">

    <div class="d-flex justify-content-end">
        <div class="col-12 d-flex justify-content-end">
            <div class="form-group">
                <label for="campo-nome">Nome</label>
                <input class="form-control" type="text" name="nome" id="campo-nome" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-descricao">Descrição</label>
                <input class="form-control" type="text" name="descricao" id="campo-descricao" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-valor-noite">Valor por noite</label>
                <input class="form-control" type="number" name="valoroNite" id="campo-valor-noite" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-estado">Estado</label>
                <input class="form-control" type="text" name="estado" id="campo-estado" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-cidade">Cidade</label>
                <input class="form-control" type="text" name="cidade" id="campo-cidade" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-cep">CEP</label>
                <input class="form-control" type="text" name="cep" id="campo-cep" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-bairro">Bairro</label>
                <input class="form-control" type="text" name="bairro" id="campo-bairro" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-numero">Número</label>
                <input class="form-control" type="number" name="numero" id="campo-numero" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-rua">Rua</label>
                <input class="form-control" type="text" name="rua" id="campo-rua" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-complemento">Complemento</label>
                <input class="form-control" type="text" name="complemento" id="campo-complemento" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button class="btn btn-success float-right" type="submit">
                <i class="fas fa-save"></i> Salvar
            </button>
        </div>
    </div>
</form>

