
@{
    ViewBag.Title = "Cadastro";
}

<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="icofont icofont icofont icofont-hotel" style="background-color: #171d2b;"></i>
                <div class="d-inline">
                    <h4 style="text-transform: capitalize">Informações do hotel</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<form action="@Url.Action("Cadastro")" method="post">

    <div class="card">
        <div class="card-body ">
            <div class="row">
                <div class="col-sm-12 col-xl-5 m-b-30">
                    <h4 class="sub-title">Nome do Hotel</h4>
                    <input id="campo-nome" class="form-control" type="text" name="nome" placeholder="Digite o nome do hotel" maxlength="40" autocomplete="off" required />
                </div>
                <div class="col-sm-12 col-xl-5 m-b-30">
                    <h4 class="sub-title">Descrição</h4>
                    <textarea id="campo-valor" class="form-control" type="text" name="descricao" rows="7" cols="40" maxlength="500" placeholder="Faça aqui sua descrição" autocomplete="off" required></textarea>
                </div>
                <div class="col-sm-12 col-xl-2 m-b-30">
                    <h4 class="sub-title">Valor por noite</h4>
                    <input id="campo-valor" class="form-control " type="text" name="valorNoite" placeholder="Digite o valor" autocomplete="off" required />

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-xl-3 m-b-30">
                    <h6 class="sub-title">Estado</h6>
                    <select class="form-control" id="estado" name="estado" autocomplete="off" required>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                </div>
                <div class="col-sm-12 col-xl-6 m-b-30">
                    <h4 class="sub-title">Cidade</h4>
                    <input id="campo-cidade" class="form-control" name="cidade" type="text" placeholder="Digite a cidade" maxlength="50" autocomplete="off" required />
                </div>

                <div class="col-sm-12 col-xl-3 m-b-30">
                    <h4 class="sub-title">CEP</h4>
                    <input id="campo-cep" class="form-control telphone_with_code" name="cep" type="text" placeholder="Digite o CEP" data-mask="00000-000" autocomplete="off" required />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-xl-6 m-b-30">
                    <h4 class="sub-title">Bairro</h4>
                    <input id="campo-bairro" class="form-control" name="bairro" type="text" placeholder="Digite o bairro" maxlength="50" autocomplete="off" required />
                </div>
                <div class="col-sm-12 col-xl-2 m-b-30">
                    <h4 class="sub-title">Número</h4>
                    <input id="campo-numero" class="form-control" name="numero" type="text" placeholder="Digite o número" maxlength="20" autocomplete="off" required />
                </div>
                <div class="col-sm-12 col-xl-4 m-b-30">
                    <h4 class="sub-title">Nome da Rua</h4>
                    <input id="campo-nome-rua" class="form-control" name="rua" type="text" placeholder="Digite o nome da rua" maxlength="50" autocomplete="off" required />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xl-4 m-b-30">
                    <h4 class="sub-title">Complemento</h4>
                    <input id="campo-complemento" class="form-control" name="complemento" type="text" placeholder="Digite um complemento" maxlength="50" autocomplete="off" required />
                </div>
                <div class="col-12" style="color: white;">
                </div>
            </div>            
            <button class="btn btn-outline-success float-right" type="submit">
                <i class="fas fa-save"></i> Salvar
            </button>
        </div>
    </div>
</form>

<!-- Required Jquery -->
<script type="text/javascript" src="~/Content/tema/bower_components/jquery/js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/tema/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Content/tema/bower_components/popper.js/js/popper.min.js"></script>
<script type="text/javascript" src="~/Content/tema/bower_components/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>