
@{
    ViewBag.Title = "Cadastro";
}

<h4>Informações do Hotel</h4>
<row>

</row>

<form action="@Url.Action("Cadastro")" method="post">

    <div class="row">
        <div class="col-sm-12 col-xl-4 m-b-30">
            <h4 class="sub-title">Nome do Hotel</h4>
            <input id="campo-nome" class="form-control" type="text" name="nome" placeholder="Digite o nome do hotel" />
        </div>
        <div class="col-sm-12 col-xl-4 m-b-30">
            <h4 class="sub-title">Descrição</h4>
            <input id="campo-descricao" class="form-control" type="text" placeholder="Faça aqui sua descrição" />
        </div>
        <div class="col-sm-12 col-xl-4 m-b-30">
            <h4 class="sub-title">Valor por noite</h4>
            <input id="campo-valor-noite" class="form-control" type="text" placeholder="Digite o valor" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-xl-4 m-b-30">
            <h6 class="sub-title">Estado</h6>
            <select id="estado" name="estado">
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
            </select>
        </div>

        <div class="col-sm-12 col-xl-4 m-b-30">
            <h4 class="sub-title">Cidade</h4>
            <input id="campo-cidade" class="form-control" type="text" placeholder="Digite a cidade" />
        </div>

        <div class="col-sm-12 col-xl-4 m-b-30">
            <h4 class="sub-title">CEP</h4>
            <input id="campo-cep" class="form-control" type="text" placeholder="Digite o cep" />
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="form-group col-md-4 col-sm-4">
                <div class="form-group left-inner-addon">
                    <i class="fas fa-home" style="color: #073763;"></i>
                    <input class="form-control" type="text" required name="bairro" id="campo-bairro" placeholder="Bairro" />
                </div>
            </div>
            <div class="form-group col-md-4 col-sm-4">
                <div class="form-group left-inner-addon">
                    <i class="fas fa-list-ol" style="color: #073763;"></i>
                    <input class="form-control" type="text" required name="numero" id="campo-numero" placeholder="Número" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="form-group col-md-4 col-sm-4">
                <div class="form-group left-inner-addon">
                    <i class="fas fa-road" style="color: #073763;"></i>
                    <input class="form-control" type="text" required name="rua" id="campo-rua" placeholder="Rua" />
                </div>
            </div>
            <div class="form-group col-md-4 col-sm-4">
                <div class="form-group left-inner-addon">
                    <i class="fas fa-plus" style="color: #073763;"></i>
                    <input class="form-control" type="text" required name="complemento" id="campo-complemento" placeholder="Complemento" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12" style="color: white;">
            <button class="btn float-right btn-lg btn-block" style="background-color: #088f03; color: white;" type="submit">
                <i class="ti-save" style="color: #FFFFFF;"></i> Salvar
            </button>
        </div>
    </div>
</form>
</body>
