
@{
    ViewBag.Title = "Index";
}

<head>

    <style>

        .row{
            color: white;
        }

    </style>

</head>

<div class="card" style="background-color: #343a40;">
    <div class="card-header">
        <h5 class="card-header-text" style="color: white;">Sobre Mim</h5>

    </div>
    <div class="card-block" style="background-color: #343a40;">
        <div class="view-info">
            <div class="row">
                <div class="col-lg-12">
                    <div class="general-info">
                        <div class="row">
                            <div class="col-lg-12 col-xl-6">
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Nome Completo</th>
                                                <td>Angel Gabriel Costa</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Gênero</th>
                                                <td>Masculino</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Data de Nascimento</th>
                                                <td>31 de março de 2003</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Estado Civil</th>
                                                <td>Solteiro</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Localização</th>
                                                <td>Blumenau, BRA</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                            <div class="col-lg-12 col-xl-6">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Email</th>
                                                <td>angel.gabriel.costa31@gmail.com</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Celular</th>
                                                <td>(47) 99151-0533</td>
                                            </tr>
                                          
                                        </tbody>
                                    </table>
                                    <a href="@Url.Action("Editar","Perfil")" class="btn btn-outline-primary">Editar</a>
                                </div>
                            </div>
                            <!-- end of table col-lg-6 -->
                        </div>
                        <!-- end of row -->
                    </div>
                    <!-- end of general info -->
                </div>
                <!-- end of col-lg-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of view-info -->
    </div>
</div>

