
@{
    ViewBag.Title = "Index";
}

<h2 align="center">Login</h2>


<form align="center">
    <div class="col-md-6 offset-md-3">
        <label for="nomeusuario"></label>
        <input type="text" class="form-control" id="nomeusuario" placeholder="Usuario" />

    </div>
    <div class="col-md-6 offset-md-3">
        <label for="exampleInputEmail1"></label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
        <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <div class="col-md-6 offset-md-3">
        <label for="cpfusuario"></label>
        <input type="text" class="form-control" id="cpfusuario" placeholder="CPF" />
    </div>
    <div class="col-md-6 offset-md-3">
        <label for="exampleInputPassword1"></label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
    </div>

    <div>

        <button type="submit" class="btn btn-success offset-md-0 mt-2">Cadastrar</button>
    </div>
</form>


