
@{
    ViewBag.Title = "Index";
}

<h4 class="text-center">Usuarios</h4>

<table class="table table-sm table-dark">
    <thead>
        <tr>
            <td>Código</td>
            <td>Nome</td>            
        </tr>
    </thead>

    <tbody>
        @foreach(Model.Usuario usuario in ViewBag.Usuarios)
        {
            <tr>
                <td>@usuario.Id</td>
                <td>@usuario.Nome</td>                
            </tr>
        }
    </tbody>
</table>