    
@{
    ViewBag.Title = "Index";
}


<h1><center>Viajar é necessidade e viver é agora!</center></h1>
<p><center>.</center></p>

<div class="card-columns">

    <div class="card text-white bg-dark mb-3 " style="width: 18rem;">
        <img class="card-img-top" src="~/Content/imagem/Home/sugestoes/1.jpg" alt="Imagem de capa do card">
        <div class="card-body text-center" >
            Conhecer um lugar com uma natureza tão linda e com uma cultura tão rica vale cada centavo! Eu indico #lux
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <img class="card-img-top" src="~/Content/imagem/Home/sugestoes/2.jpg" alt="Imagem de capa do card">
        <div class="card-body text-center">
            Simplesmente apaixonante! Aproveitamos cada segundo com essa paisagem linda, conhecemos até a praia, #lux arrasa demais
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <img class="card-img-top" src="~/Content/imagem/Home/sugestoes/3.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <i>Pior que não terminar uma viagem é nunca partir.</i>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <img class="card-img-top" src="~/Content/imagem/Home/sugestoes/4.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <i>Viajar é a única coisa que você compra e te deixa mais rico.</i>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <img class="card-img-top" src="~/Content/imagem/Home/sugestoes/5.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <i>O mundo é um livro e quem não viaja lê apenas a primeira página.</i>
        </div>
    </div>

</div>
<div class="row"></div>
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Experiências!</h5>
        <p class="card-text"><i>Entre em contato conosco e divida seus momentos</i></p>
        <a href="@Url.Action("Indicação","Home")" class="btn btn-dark">Compartilhe aqui!</a>
    </div>
</div>


