
@{
    ViewBag.Title = "Index";
}


<h2 class="mb-5"> </h2>

<div class="row">
    <div class="col-lg-12 col-xl-6">
        <!-- Owl corousel style 1 card start -->
        <div class="card mr-3 mt-3">
            <div class="card-header">
                <a href="@Url.Action("Blumenau", "Home")" style="font-size: 30px">Blumenau</a>
                <div class="card-header-right">                                                             <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>
            </div>
            <div class="card-block">
                <div class="owl-carousel carousel-nav owl-theme">
                    <div>
                        <img class="d-block img-fluid border-0" src="~/Content/imagem/Blumenau/Blumenau.jpg" alt="Third slide">
                    </div>
                    <div>
                        <img class="d-block img-fluid" src="~/Content/imagem/Blumenau/Estadio do Sesi.jpg" alt="Third slide">
                    </div>
                    <div>
                        <img class="d-block img-fluid" src="~/Content/imagem/Blumenau/Teatro Carlos Gomes.jpg" alt="Third slide">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-xl-6">
        <div class="card mr-3 mt-3">
            <div class="card-header">
                <a href="@Url.Action("Florianopolis", "Home")" style="font-size: 30px">Florianópolis</a>
                <div class="card-header-right">
                    <i class="icofont icofont-spinner-alt-5"></i>
                </div>
            </div>
            <div class="card-block">
                <div class="owl-carousel carousel-nav owl-theme">
                    <div>
                        <img class="d-block img-fluid" src="~/Content/imagem/Florianopolis/Lagoinha-do-Leste-Florianópolis.jpg" alt="Third slide" />
                    </div>
                    <div>
                        <img class="d-block img-fluid" src="~/Content/imagem/Florianopolis/Mercado-Florianopolis.jpg" alt="Third slide" />
                    </div>
                    <div>
                        <img class="d-block img-fluid" src="~/Content/imagem/Florianopolis/Ponte Hercilio Luz.jpg" alt="Third slide" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-xl-6">
        <!-- Owl corousel style 1 card start -->
        <div class="card mr-3 mt-3">
            <div class="card-header">
                <a href="SaoFrancisco" style="font-size: 30px">São Francisco do Sul</a>
                <div class="card-header-right">                                                             <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>
            </div>
            <div class="card-block">
                <div class="owl-carousel carousel-nav owl-theme">
                    <div>
                        <img class="d-block img-fluid border-0" src="~/Content/imagem/SaoFrancisco/museu-nacional-do-mar.jpg" alt="Third slide">
                    </div>
                    <div>
                        <img class="d-block img-fluid" src="~/Content/imagem/SaoFrancisco/praia-do-forte-tem-o.jpg" alt="Third slide">
                    </div>
                    <div>
                        <img class="d-block img-fluid" src="~/Content/imagem/SaoFrancisco/vista-de-dentro-do-barco.jpg" alt="Third slide">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-xl-6">        
        <div class="card mr-3 mt-3">
            <div class="card-header">
                <a href="PortoBelo" style="font-size: 30px">Porto Belo</a>
                <div class="card-header-right">                                                             <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>
            </div>
            <div class="card-block">
                <div class="owl-carousel carousel-nav owl-theme">
                    <div>
                        <img class="d-block img-fluid border-0" src="~/Content/imagem/PortoBelo/piscina-com-bar-molhado.jpg" alt="Third slide">
                    </div>
                    <div>
                        <img class="d-block img-fluid" src="~/Content/imagem/PortoBelo/ponta-do-estaleiro.jpg" alt="Third slide">
                    </div>
                    <div>
                        <img class="d-block img-fluid" src="~/Content/imagem/PortoBelo/univali-ecomuseum.jpg" alt="Third slide">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Owl corousel style 1 card end -->

@section css {
    <!-- owl carousel css -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/bower_components/owl.carousel/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/Content/tema/bower_components/owl.carousel/css/owl.theme.default.css">
}

@section scripts{
    <!-- owl carousel 2 js -->
    <script type="text/javascript" src="~/Content/tema/bower_components/owl.carousel/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Content/tema/assets/js/owl-custom.js"></script>
}
