    
@{
    ViewBag.Title = "Index";
}


<h1><center>Crie suas memórias conosco</center></h1>
<p><center><i>Viajar não é luxo, é necessidade.</i></center></p>

<div class="card-columns">

    <div class="card text-white bg-dark mb-3 " style="width: 18rem;">
        <img class="card-img-top" src="~/Content/imagem/Home/70f71cc8ac254c006b8fa006f2a182b4.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <i>Uma longa viagem começa por um passo.</i>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <img class="card-img-top" src="~/Content/imagem/Home/312c4515169c802c40ec992495033fd6.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <i>A vida é uma viagem a três estações: ação, experiência e recordação.</i>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <img class="card-img-top" src="~/Content/imagem/Home/82ddfc1f4f0e24e1d4496d6f85c74fd6.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <i>Pior que não terminar uma viagem é nunca partir.</i>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <img class="card-img-top" src="~/Content/imagem/Home/fundo-do-curso-com-a-mao-apontando-para-o-mapa_23-2147607759.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <i>Viajar é a única coisa que você compra e te deixa mais rico.</i>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <img class="card-img-top" src="~/Content/imagem/Home/images.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <i>O mundo é um livro e quem não viaja lê apenas a primeira página.</i>
        </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <img class="card-img-top" src="~/Content/imagem/Home/monte-um-scrapbook-dos-seus-melhores-momentos.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <i>Colecione momentos, não coisas.</i>
        </div>
    </div>

</div>

<div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
        <h5 class="card-title"><strong>Suas experiências</strong></h5>
        <p class="card-text"><i>Compatilhe suas experiências com o mundo, ajude outros a explorar, indique um lugar!</i></p>
        <a href="@Url.Action("Indicação","Home")" class="btn btn-dark">Indicar</a>
    </div>
</div>


