
@{
    ViewBag.Title = "Cadastro";
}

    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="icofont icofont icofont icofont-image" style="background-color: #343a40;"></i>
                    <div class="d-inline">
                        <h4 style="text-transform: capitalize">Cadastro de Sugestôes</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>



<form action="@Url.Action("Cadastro","Sugestao")" method="post" enctype="multipart/form-data">

    <div class="card">
        <div class="card-body ">
            <div class="row">
                <div class="col-sm-12 col-xl-4 m-b-30">
                    <h4 class="sub-title">Nome <strong style="color:red">*</strong></h4>
                    <input id="campo-nome" class="form-control" type="text" name="nome" placeholder="Digite seu nome"
                           maxlength="50" autocomplete="off" required />
                </div>
                <div class="col-sm-12 col-xl-5 m-b-30">
                    <h4 class="sub-title">Descrição <strong style="color:red">*</strong></h4>
                    <input id="campo-descricao" class="form-control" type="text" name="descricao" placeholder="Faça aqui sua descrição"
                           maxlength="100" autocomplete="off" required />
                </div>
                <div class="col-sm-12 col-xl-3 m-b-30">
                    <h4 class="sub-title">Ponto Turístico <strong style="color:red">*</strong></h4>
                    <input id="campo-ponto-turistico" class="form-control" type="text" placeholder="Descreva pontos turísticos"
                           maxlength="100" autocomplete="off" required />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-xl-4 m-b-30">
                    <h4 class="sub-title">Local <strong style="color:red">*</strong></h4>
                    <input id="campo-local" class="form-control" type="text" placeholder="Digite o local"
                           autocomplete="off" required />
                </div>
                <div class="col-sm-12 col-xl-4 m-b-30">
                    <h4 class="sub-title">Cidade <strong style="color:red">*</strong></h4>
                    <input id="campo-cidade" class="form-control" type="text" placeholder="Digite a cidade"
                           autocomplete="off" required />
                </div>
                <div class="col-sm-12 col-xl-4 m-b-30">
                    <h4 class="sub-title">Endereço <strong style="color:red">*</strong></h4>
                    <input id="campo-endereco" class="form-control" type="text" placeholder="Digite o endereço"
                           autocomplete="off" required />
                </div>
            </div>
            <input id="Imagem" type="file" name="file" title="Selecionar imagem" />
            <button class="btn btn-outline-success float-right" type="submit">
                <i href="@Url.Action("Galeria","Sugestao")" class="fas fa-save"></i> Salvar
            </button>
        </div>
    </div>

</form>


