
@{
    ViewBag.Title = "Galeria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-header card">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="page-header-title">
                            <i class="icofont icofont-image bg-c-blue"></i>
                            <div class="d-inline">
                                <h4></h4>
                                <span>Econtre as melhores seguestões de destino aqui</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="page-header-breadcrumb">
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i class="icofont icofont-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Galeria</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5></h5>
                    <span>Explore com as melhores fotos e descubra para a onde quer ir!</span>
                    <div class="card-header-right">
                        <i class="icofont icofont-spinner-alt-5"></i>
                    </div>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="grid">
                                <figure class="effect-julia">
                                    <img src="~/Content/floresta.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Gaspar <span>Lux</span></h2>
                                        <div>
                                            <p>A Lux tira as melhores fotos</p>
                                            <p>Com as melhores qualidades</p>
                                            <p>Para te ajudar da melhor forma possivel</p>
                                        </div>
                                        <a href="#">Ver mais</a>
                                    </figcaption>
                                </figure>
                                <figure class="effect-julia">
                                    <img src="~/Content/proway.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Blumenau <span>Lux</span></h2>
                                        <div>
                                            <p>Sempre buscando o melhor</p>
                                            <p>Se inspire!</p>
                                            <p>Melhor que isso, faça a sua viajem!</p>
                                        </div>
                                        <a href="#">Ver mais</a>
                                    </figcaption>
                                </figure>
                                <figure class="effect-julia">
                                    <img src="~/Content/ceu.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Bela vista<span>Lux</span></h2>
                                        <div>
                                            <p>Sempre buscando o melhor</p>
                                            <p>Se inspire!</p>
                                            <p>Melhor que isso, faça a sua viajem!</p>
                                        </div>
                                        <a href="#">Ver mais</a>
                                    </figcaption>
                                </figure>
                                <figure class="effect-julia">
                                    <img src="~/Content/FundoMontanhas.png" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Canadá<span>Lux</span></h2>
                                        <div>
                                            <p>Sempre buscando o melhor</p>
                                            <p>Se inspire!</p>
                                            <p>Melhor que isso, faça a sua viajem!</p>
                                        </div>
                                        <a href="#">Ver mais</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

