
@{
    ViewBag.Title = "Galeria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="icofont icofont icofont icofont-image" style="background-color: #343a40;"></i>
                <div class="d-inline">
                    <h4>Galeria</h4>

                </div>
            </div>
        </div>
        <div class="col-lg-4">

            <ul class="breadcrumb-title">
                <li>
                    <a class="btn text-success float-right"
                       href="@Url.Action("Cadastro","Sugestao")">
                        <i class="fas fa-plus"></i> Nova Sugestão
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="card-block">
    <div class="grid">
        @foreach (Model.Sugestao sugestao in ViewBag.Sugestoes)
        {




            <figure class="effect-julia">
                <img src="~/Content/Uploads/@sugestao.Imagem" alt="img21" class="img-fluid" />
                <figcaption>
                    <h2>@sugestao.Nome<span></span></h2>
                    <div>
                        <p>A Lux tira as melhores fotos</p>
                        <p>Com as melhores qualidades</p>
                        <p>Para te ajudar da melhor forma possivel</p>
                    </div>
                    <a href="@Url.Action("Editar","Sugestao", new { id = sugestao.Id})">Ver mais</a>
                </figcaption>
            </figure>


        }
    </div>
</div>


