
@{
    ViewBag.Title = "Galeria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-header card">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="page-header-title">
                            <i class="icofont icofont-image" style="background-color: #171d2b;"></i>
                            <div class="d-inline">
                                <h4>Sugestões de destino</h4>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="page-header-breadcrumb">
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item">
                                    <a href="/home">
                                        <i class="icofont icofont-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!">Galeria</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5></h5>
                    <span>Explore com as melhores fotos e descubra para a onde quer ir!</span>
                    <div class="card-header-right">
                        <i class="icofont icofont-spinner-alt-5"></i>
                    </div>
                    <a class="btn btn-outline-success mt-3" href="@Url.Action("Cadastro","Sugestao")">Cadastrar</a>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="grid">
                                <figure class="effect-julia">
                                    <img src="~/Content/Uploads/@ViewBag.Sugestao.Imagem" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Florianópolis<span></span></h2>
                                        <div>
                                            <p>A Lux tira as melhores fotos</p>
                                            <p>Com as melhores qualidades</p>
                                            <p>Para te ajudar da melhor forma possivel</p>
                                        </div>
                                        <a href="#">Ver mais</a>
                                    </figcaption>
                                </figure>
                                <figure class="effect-julia">
                                    <img src="~/Content/Uploads/@ViewBag.Sugestao.Imagem" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>São Fransisco do Sul <span></span></h2>
                                        <div>
                                            <p>Sempre buscando o melhor</p>
                                            <p>Se inspire!</p>
                                            <p>Melhor que isso, faça a sua viajem!</p>
                                        </div>
                                        <a href="#">Ver mais</a>
                                    </figcaption>
                                </figure>
                                <figure class="effect-julia">
                                    <img src="~/Content/Uploads/@ViewBag.Sugestao.Imagem" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Serra do rio do rastro<span></span></h2>
                                        <div>
                                            <p>Sempre buscando o melhor</p>
                                            <p>Se inspire!</p>
                                            <p>Melhor que isso, faça a sua viajem!</p>
                                        </div>
                                        <a href="#">Ver mais</a>
                                    </figcaption>
                                </figure>
                                <figure class="effect-julia">
                                    <img src="~/Content/Uploads/@ViewBag.Sugestao.Imagem" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Unipraias<span></span></h2>
                                        <div>
                                            <p>Sempre buscando o melhor</p>
                                            <p>Se inspire!</p>
                                            <p>Melhor que isso, faça a sua viajem!</p>
                                        </div>
                                        <a href="#">Ver mais</a>
                                    </figcaption>
                                </figure>
                                <figure class="effect-julia">
                                    <img src="~/Content/Uploads/@ViewBag.Sugestao.Imagem" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Blumenau<span></span></h2>
                                        <div>
                                            <p>Sempre buscando o melhor</p>
                                            <p>Se inspire!</p>
                                            <p>Melhor que isso, faça a sua viajem!</p>
                                        </div>
                                        <a href="#">Ver mais</a>
                                    </figcaption>
                                </figure>
                                <figure class="effect-julia">
                                    <img src="~/Content/Uploads/@ViewBag.Sugestao.Imagem" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Garopaba<span></span></h2>
                                        <div>
                                            <p>Sempre buscando o melhor</p>
                                            <p>Se inspire!</p>
                                            <p>Melhor que isso, faça a sua viajem!</p>
                                        </div>
                                        <a href="#">Ver mais</a>
                                    </figcaption>
                                </figure>
                                <figure class="effect-julia">
                                    <img src="~/Content/Uploads/@ViewBag.Sugestao.Imagem" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Porto Belo<span></span></h2>
                                        <div>
                                            <p>Sempre buscando o melhor</p>
                                            <p>Se inspire!</p>
                                            <p>Melhor que isso, faça a sua viajem!</p>
                                        </div>
                                        <a href="#">Ver mais</a>
                                    </figcaption>
                                </figure>
                                <figure class="effect-julia">
                                    <img src="~/Content/Uploads/@ViewBag.Sugestao.Imagem" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Praia do Rosa<span></span></h2>
                                        <div>
                                            <p>Sempre buscando o melhor</p>
                                            <p>Se inspire!</p>
                                            <p>Melhor que isso, faça a sua viajem!</p>
                                        </div>
                                        <a href="#">Ver mais</a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

