
@{
    ViewBag.Title = "Index";
}

<h4 class="text-center">Sugestões</h4>
<div class="row">
    <div class="col-11 offset-1 mb-4">
        <a class="btn btn-primary float-right"
           href="@Url.Action("Cadastro")">
            <i class="fas fa-plus"></i> Nova Sugestão
        </a>
    </div>
</div>
