
@{
    ViewBag.Title = "Index";
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-header card" style="background-color: white;">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="page-header-title">
                            <i class="icofont icofont-image" style="background-color: #1A2930;"></i>
                            <div class="d-inline">
                                <h4>Galeria de pontos turisticos</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5></h5>

                    <div class="card-header-right">
                        <i class="icofont icofont-spinner-alt-5"></i>
                    </div>
                </div>
                <div class="card-block offset-2">
                    <div class="row">
                        <div class="row">
                            <div class="grid">

                                @foreach (Model.Sugestao sugestao in ViewBag.Sugestoes)
                                {

                                    <figure class="effect-julia">
                                        <img src="@Caminho.ObterCaminhoImagem()/Uploads/@sugestao.Imagem" alt="img21" class="img-fluid" />
                                        <figcaption>
                                            <h2>@sugestao.Nome<span></span></h2>
                                            <div>
                                                <p>Aproveite essa oportunidade.</p>
                                                <p>Estamos esperando viajante.</p>
                                                <p>Venha conhecer agora.</p>
                                            </div>
                                        </figcaption>
                                    </figure>

                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
