
@{
    ViewBag.Title = "Index";
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-header card" style="background-color: white;">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="page-header-title">
                            <i class="icofont icofont-hotel-alt" style="background-color:  #1A2930; color: white;"></i>
                            <div class="d-inline">
                                <h4>Hoteis</h4>
                            </div>
                        </div>
                    </div>                 
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5></h5>
                   
                    <div class="card-header-right">
                        <i class="icofont icofont-spinner-alt-5"></i>
                    </div>
                </div>
                <div class="card-block offset-2">
                    <div class="row">
                        <div class="row">
                            <div class="grid">

                                <figure class="effect-julia">
                                    <img src="~/Content/imagem/Balneario/morro do careca.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Balneario<span></span></h2>
                                        <div>
                                            <p>Aproveite essa oportunidade.</p>
                                            <p>Estamos esperando viajante.</p>
                                            <p>Venha conhecer agora.</p>
                                        </div>
                                    </figcaption>
                                </figure>

                                <figure class="effect-julia">
                                    <img src="~/Content/imagem/Florianopolis/Lagoinha-do-Leste-Florianópolis.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Florianópolis<span></span></h2>
                                        <div>
                                            <p>Aproveite essa oportunidade.</p>
                                            <p>Estamos esperando viajante.</p>
                                            <p>Venha conhecer agora.</p>
                                        </div>
                                    </figcaption>
                                </figure>

                                <figure class="effect-julia">
                                    <img src="~/Content/melhoresHoteis/Vale-dos-Vinhedos-e1511964979586.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Vale dos Vinhedos<span></span></h2>
                                        <div>
                                            <p>Aproveite essa oportunidade.</p>
                                            <p>Estamos esperando viajante.</p>
                                            <p>Venha conhecer agora.</p>
                                        </div>
                                    </figcaption>
                                </figure>

                                <figure class="effect-julia">
                                    <img src="~/Content/melhoresHoteis/Petrópolis-RJ-e1511961769700.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Petrópolis<span></span></h2>
                                        <div>
                                            <p>Aproveite essa oportunidade.</p>
                                            <p>Estamos esperando viajante.</p>
                                            <p>Venha conhecer agora.</p>
                                        </div>
                                    </figcaption>
                                </figure>

                                <figure class="effect-julia">
                                    <img src="~/Content/imagem/Garopaba/garuBanner.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Garopaba<span></span></h2>
                                        <div>
                                            <p>Aproveite essa oportunidade.</p>
                                            <p>Estamos esperando viajante.</p>
                                            <p>Venha conhecer agora.</p>
                                        </div>
                                    </figcaption>
                                </figure>

                                <figure class="effect-julia">
                                    <img src="~/Content/imagem/PortoBelo/520352301-MOB.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Porto Belo<span></span></h2>
                                        <div>
                                            <p>Aproveite essa oportunidade.</p>
                                            <p>Estamos esperando viajante.</p>
                                            <p>Venha conhecer agora.</p>
                                        </div>
                                    </figcaption>
                                </figure>

                                <figure class="effect-julia">
                                    <img src="~/Content/imagem/SaoFrancisco/praia-do-forte-tem-o.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>São Fransisco<span></span></h2>
                                        <div>
                                            <p>Aproveite essa oportunidade.</p>
                                            <p>Estamos esperando viajante.</p>
                                            <p>Venha conhecer agora.</p>
                                        </div>
                                    </figcaption>
                                </figure>

                                <figure class="effect-julia">
                                    <img src="~/Content/imagem/Serra do Rio do rastro/serra.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Serra do Rio do Rastro<span></span></h2>
                                        <div>
                                            <p>Aproveite essa oportunidade.</p>
                                            <p>Estamos esperando viajante.</p>
                                            <p>Venha conhecer agora.</p>
                                        </div>
                                    </figcaption>
                                </figure>



                                <figure class="effect-julia">
                                    <img src="~/Content/melhoresHoteis/chapada-2332850_1280-768x512.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Bahia<span></span></h2>
                                        <div>
                                            <p>Aproveite essa oportunidade.</p>
                                            <p>Estamos esperando viajante.</p>
                                            <p>Venha conhecer agora.</p>
                                        </div>
                                    </figcaption>
                                </figure>

                                <figure class="effect-julia">
                                    <img src="~/Content/melhoresHoteis/1024px-Cume_do_Monte_Roraima-768x576.jpg" alt="img21" class="img-fluid" />
                                    <figcaption>
                                        <h2>Monte Roraima<span></span></h2>
                                        <div>
                                            <p>Aproveite essa oportunidade.</p>
                                            <p>Estamos esperando viajante.</p>
                                            <p>Venha conhecer agora.</p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
