
@{
    ViewBag.Title = "BalnearioCamboriou";
}

<head>

    <style>



        .card {
            background-color: #343a40;
            margin: 0 auto;
            float: none;
            margin-bottom: 10px;
            width: 1100px;
            height: 800px;
        }

        h2 {
            color: white;
        }

        p {
            color: white;
        }
    </style>

</head>

<div class="page-body">
    <div class="card">
        <img src="~/Content/imagem/Sugestão02/BalnearioCamboriu.jpg" class="card-img-top" alt="">
        <div class="card-body">
            <h2>Balneário Camboriú</h2>
            <p class="card-text">
                Bem organizada, o turista consegue fácil andar sozinho. As ruas principais da orla são numeradas e não têm nomes. O que acaba facilitando a mobilidade de quem a visita pela primeira vez. Nessa área, estão concentradas lojas, um shopping, farmácias, supermercados, hotéis, bares e restaurantes
                A região mais badalada fica na Praia Central, com sete quilômetros de extensão. Na Região Sul, estão seis praias lindas que encantam os turistas: Laranjeiras, Taquaras, Pinho, Estaleiro e Estaleirinho. Na outra ponta, na Barra Norte, estão localizaras a Praia do Cantoe a praia do Buraco. Também o Morro do Careca, que atrai praticantes de voo livre e oferece passeios radicais e uma vista linda da cidade.
            </p>
        </div>
    </div>
</div>

<div class="row">

    @foreach (Model.Hotel hotel in ViewBag.Hoteis)
    {
        if (hotel.Cidade == "Balneário Camboriú")
        {
            <div class="card mr-5">
                <div class="card-body">
                    <div>
                        <img class="container img" src="~/Content/Uploads/@hotel.Imagem" alt="" />
                    </div>
                    <div class="sub-title">Hotel: @hotel.Nome</div>
                    <div class="sub-title">Valor por Noite: @hotel.ValorNoite</div>
                    <div class="sub-title">Bairro: @hotel.Bairro</div>
                    <div class="sub-title">Rua: @hotel.Rua</div>
                </div>
            </div>
        }
    }
</div>