
@{
    ViewBag.Title = "SaoFrancisco";
}

<head>

    <style>



        .card {
            background-color: #343a40;
            margin: 0 auto;
            float: none;
            margin-bottom: 10px;
            width: 1100px;
            height: 800px;
        }

        h2 {
            color: white;
        }

        p {
            color: white;
        }
    </style>

</head>

<div class="page-body">
    <div class="card">
        <img src="~/Content/imagem/Sugestão02/SaoFranciscodoSul.jpg" class="card-img-top" alt="">
        <div class="card-body">
            <h2>São Francisco do Sul</h2>
            <p class="card-text">
                Se conhecer essa cidade insular está em seus planos, o cento histórico não pode ficar de fora do roteiro. Essa parte da cidade abriga um conjunto de 150 casas tombadas pelo Patrimônio Histórico que datam do século 18 até o início do século 20. As construções em estilo português, alemão e norueguês formam uma das maiores coleções de patrimônios históricos do país e levam o turista por uma viagem pela história do Brasil. É lá também que encontramos o único museu de embarcações do país.
                Além da parte histórica, São Francisco do Sul atraí muitos turistas que buscam curtir belas praias nessa região do estado. Entre as mais procuradas pelos turistas, estão a Praia do Ubatuba, a Praia da Enseada e a Prainha.
            </p>
        </div>
    </div>
</div>

@foreach (Model.Hotel hotel in ViewBag.Hoteis)
{
    if (hotel.Cidade == "São Francisco")
    {
        <div class="row">
            <div class="col-lg-12 col-xl-6">
                <div class="card mr-5">
                    <div class="card-body card-blue">
                        <div>
                            <img src="~/Content/imagem/MelhoresHoteis/shangri-la-hotel-tailandia-hoteis-kangaroo-tours (8).jpg" alt="" />
                        </div>
                        <div class="sub-title">Hotel: @hotel.Nome</div>
                        <div class="sub-title">Valor por Noite: @hotel.ValorNoite</div>
                        <div class="sub-title">Bairro: @hotel.Bairro</div>
                        <div class="sub-title">Rua: @hotel.Rua</div>
                    </div>
                </div>
            </div>
        </div>
    }
}