
@{
    ViewBag.Title = "Cadastro";
}

<div class="page-header card">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="icofont icofont icofont icofont-hotel-boy-alt" style="background-color: #343a40;"></i>
                <div class="d-inline">
                    <h4 style="text-transform: capitalize">Cadastro de serviços</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<form action="@Url.Action("Cadastro")" method="post">

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-xl-4 m-b-30">
                    <h4 class="sub-title">Serviço <strong style="color:red">*</strong></h4>
                    <input id="campo-comodidade" class="form-control" type="text" name="nome" placeholder="Digite aqui o serviço" maxlength="40" autocomplete="off" required />
                </div>

                <div class="col-sm-12 col-xl-8 m-b-30">
                    <h4 class="sub-title">Hotel <strong style="color:red">*</strong></h4>
                    <select class="form-control" name="IdHotel" required>
                        @foreach (Model.Hotel hotel in ViewBag.Hoteis)
                        {
                            <option value="@hotel.Id">@hotel.Nome</option>
                        }
                        <option disabled="disabled" selected="selected">Selecione um Hotel</option>
                    </select>
                </div>
            </div>

            <button class="btn btn-outline-success float-right" type="submit">
                <i class="fas fa-save"></i> Salvar
            </button>
        </div>
    </div>
</form>
