
@{
    ViewBag.Title = "Select";
}

<h2>Escolha a versão</h2>

<div class="row">
    <div class="col-12">
        <a href="@Url.Action("Home")"
           class="btn btn-primary">Administrador</a>
    </div>
</div>

