
@{
    ViewBag.Title = "Blumenau";
}

<h2>Blumenau</h2>

@foreach (Model.Hotel hotel in ViewBag.Hoteis)
{
    if (hotel.Cidade == "Blumenau")
    {

        <div class="card mr-3">
            <div class="card-body ">
                <div>
                    <img class="d-block img-fluid" src="~/Content/Blumenau/Blumenau.jpg" />
                </div>
                <div class="sub-title">Hotel: @hotel.Nome</div>
                <div class="sub-title">Valor por noite: @hotel.ValorNoite</div>
                <div class="row">

                </div>
            </div>
        </div>
    }
}
