
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>GURU Able - Premium Admin Template </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="keywords"
          content="flat ui, admin Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="~/Content/tema/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/bower_components/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/icon/icofont/css/icofont.css">
    <!-- flag icon framework css -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/pages/flag-icon/flag-icon.min.css">
    <!-- Menu-Search css -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/pages/menu-search/css/component.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/css/style.css">


    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/css/jquery.mCustomScrollbar.css">
</head>

<body>

    <h2 align="center">Cadastre-se</h2>

    <form align="center" action="/Login/Cadastro" method="post">
        <div class="col-md-6 offset-md-3">
            <label for="nomeusuario"></label>
            <input type="text" class="form-control" id="nomeusuario" placeholder="Usuario" name="nome" />

        </div>
        <div class="col-md-6 offset-md-3">
            <label for="exampleInputEmail1"></label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email" name="login">
            <small id="emailHelp" class="form-text text-muted"></small>
        </div>
        <div class="col-md-6 offset-md-3">
            <label for="cpfusuario"></label>
            <input type="text" class="form-control" id="cpfusuario" placeholder="CPF" />
        </div>
        <div class="col-md-6 offset-md-3">
            <label for="exampleInputPassword1"></label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" name="senha">
        </div>

        <div>

            <button type="submit" class="btn btn-success offset-md-0 mt-2">Cadastrar</button>
        </div>
    </form>


    <!-- Required Jquery -->
    <script type="text/javascript" src="~/Content/tema/bower_components/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/tema/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/tema/bower_components/popper.js/js/popper.min.js"></script>
    <script type="text/javascript" src="~/Content/tema/bower_components/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript"
            src="~/Content/tema/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/Content/tema/bower_components/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="~/Content/tema/bower_components/modernizr/js/css-scrollbars.js"></script>

    <!-- i18next.min.js -->
    <script type="text/javascript" src="~/Content/tema/bower_components/i18next/js/i18next.min.js"></script>
    <script type="text/javascript"
            src="~/Content/tema/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript"
            src="~/Content/tema/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript"
            src="~/Content/tema/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
    <script src="~/Content/tema/assets/js/pcoded.min.js"></script>
    <script src="~/Content/tema/assets/js/demo-12.js"></script>
    <script src="~/Content/tema/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="~/Content/tema/assets/js/script.js"></script>




</body>

</html>