
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>GURU Able - Premium Admin Template </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="#">
    <meta name="keywords"
          content="flat ui, admin Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="~/Content/tema/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/bower_components/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/icon/icofont/css/icofont.css">
    <!-- flag icon framework css -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/pages/flag-icon/flag-icon.min.css">
    <!-- Menu-Search css -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/pages/menu-search/css/component.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/css/style.css">


    <link rel="stylesheet" type="text/css" href="~/Content/tema/assets/css/jquery.mCustomScrollbar.css">

    <style>
        body {
            background-image: url(/Content/essa.jpg) !important;
            background-repeat: no-repeat;
            background-size: 100%;
            bottom: 0;
            color: black;
            left: 0;
            overflow: auto;
            padding: 3em;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
        }

        .card-header {
            background-color: black;
        }
    </style>

</head>

<body>

    <form action="@Url.Action("Cadastro")" method="post" />

    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card" style=" width: 18rem; opacity: 1">
                <div class="card-header">
                    <h3 color: black>Cadastro</h3>

                </div>
                <div class="card-body text-dark">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend"></div>
                            <input type="text" class="form-control" id="nome" placeholder="Usuario" name="nome" required />

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend"></div>
                            <input type="text" class="form-control" id="login" placeholder="Email" name="login" required>
                        </div>
                        <div class="input-group form-group">
                            <label for="cpfusuario"></label>
                            <input type="text" class="form-control" placeholder="CPF" onkeypress="$(this).mask('000.000.000-00');" maxlength="11" name="cpf" required>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" id="senha" placeholder="Senha" name="senha" required>
                        </div>

                        <div class="form-group">
                            <select class="form-control">
                                <option selected="selected" disabled="disabled">Selecione uma versão</option>
                                <option value="administrador">Administrador</option>
                                <option value="usuario">Usuario</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Cadastrar" class="btn btn-dark float-right login_btn">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


</body>
</html>


<!-- Required Jquery -->
<script type="text/javascript" src="~/Content/tema/bower_components/jquery/js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/tema/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Content/tema/bower_components/popper.js/js/popper.min.js"></script>
<script type="text/javascript" src="~/Content/tema/bower_components/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript"
        src="~/Content/tema/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="~/Content/tema/bower_components/modernizr/js/modernizr.js"></script>
<script type="text/javascript" src="~/Content/tema/bower_components/modernizr/js/css-scrollbars.js"></script>

<!-- i18next.min.js -->
<script type="text/javascript" src="~/Content/tema/bower_components/i18next/js/i18next.min.js"></script>
<script type="text/javascript"
        src="~/Content/tema/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
<script type="text/javascript"
        src="~/Content/tema/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
<script type="text/javascript"
        src="~/Content/tema/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
<script src="~/Content/tema/assets/js/pcoded.min.js"></script>
<script src="~/Content/tema/assets/js/demo-12.js"></script>
<script src="~/Content/tema/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Custom js -->
<script type="text/javascript" src="~/Content/tema/assets/js/script.js"></script>






