@{
    ViewBag.Title = "Index";
    Layout = null;
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <!--Made with love by Mutiullah Samim -->
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .card {
            margin: 0 auto;
            float: none;
            margin-bottom: 10px;
        }

        body:before {
            content: '';
            position: fixed;
            width: 100vw;
            height: 100vh;
            background-image: url("/Content/pordosol.jpg");
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        .contact-form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 400px;
            height: 500px;
            padding: 80px 40px;
            box-sizing: border-box;
            background: rgba(0,0,0,.5);
        }



            .contact-form h2 {
                margin: 0;
                padding: 0 0 20px;
                color: #fff;
                text-align: center;
                text-transform: uppercase;
            }

            .contact-form p {
                margin: 0;
                padding: 0;
                font-weight: bold;
                color: #fff;
            }

            .contact-form input {
                width: 100%;
                margin-bottom: 20px;
            }

                .contact-form input[type="text"],
                .contact-form input[type="password"] {
                    border: none;
                    border-bottom: 1px solid #fff;
                    background: transparent;
                    outline: none;
                    height: 40px;
                    color: #fff;
                    font-size: 16px;
                }

                .contact-form input[type="submit"] {
                    height: 30px;
                    color: #fff;
                    font-size: 15px;
                    background: #fcb100;
                    cursor: pointer;
                    border-radius: 3px;
                    border: none;
                    outline: none;
                    margin-top: 15%;
                }

            .contact-form a {
                color: #fff;
                font-size: 14px;
                font-weight: bold;
                text-decoration: none;
            }

        input[type="checkbox"] {
            width: 20%;
        }

        .container {
            min-height: 10em;
            display: table-cell;
            vertical-align: middle
        }

        .avatar {
            position: relative;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;
            top: calc(-80px/2);
            left: calc(50% - 40px);
        }
    </style>
</head>
<body>

    <form action="@Url.Action("EsqueciSenha")" method="post">
        <div class="contact-form">


            <h3 style="color: white;">ESQUECI MINHA SENHA</h3>

            <p style="color: #fcb100;">Usuário</p>
            <input type="text" placeholder="Usuario" name="nome" required>

            <p style="color: #fcb100;">Nova senha</p>
            <input type="password" placeholder="Nova senha" name="senha" required>

            <p style="color: #fcb100;">Repetir senha</p>
            <input type="password" placeholder="Repetir senha" name="senha" required>

            <input type="submit" name="" value="Entrar">

        </div>
    </form>

</body>
</html>

<!-- Required Jquery -->
<script type="text/javascript" src="~/Content/tema/bower_components/jquery/js/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/tema/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Content/tema/bower_components/popper.js/js/popper.min.js"></script>
<script type="text/javascript" src="~/Content/tema/bower_components/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript"
        src="~/Content/tema/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
<!-- modernizr js -->
<script type="text/javascript" src="~/Content/tema/bower_components/modernizr/js/modernizr.js"></script>
<script type="text/javascript" src="~/Content/tema/bower_components/modernizr/js/css-scrollbars.js"></script>

<!-- i18next.min.js -->
<script type="text/javascript" src="~/Content/tema/bower_components/i18next/js/i18next.min.js"></script>
<script type="text/javascript"
        src="~/Content/tema/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
<script type="text/javascript"
        src="~/Content/tema/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
<script type="text/javascript"
        src="~/Content/tema/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
<script src="~/Content/tema/assets/js/pcoded.min.js"></script>
<script src="~/Content/tema/assets/js/demo-12.js"></script>
<script src="~/Content/tema/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Custom js -->
<script type="text/javascript" src="~/Content/tema/assets/js/script.js"></script>
